* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

.left-arrow, .right-arrow {
    font-size: 35px;
    cursor: pointer;
}

.images {
    width: 1000px;
    height: auto;
    padding: 50px;
}

.images img {
    display: none;
}

.images img.active {
    display: block;
}